/* Import JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

/* General body styles */
body {
    font-family: 'JetBrains Mono', monospace; /* Normal text uses JetBrains Mono */
    margin: 0;
    padding: 0;
    background-color: #191919; 
    color: #FFFBEF;
}

/* Headings use Helvetica */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif; /* All headings use Helvetica */
    font-weight: bold; /* Makes all headings bold */
}

/* Links */
a {
    color: #FFFBEF;
    text-decoration: underline;
}

a:hover {
    color: #A3B18A; /* Sage green on hover */
}

/* Header */
#pistaHeader {
    background-image: url("images/indexpage_header_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    text-align: justify;
}

/* Card Styles */
.card {
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid transparent;
}

.card img {
    width: 130%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    margin: 1% auto;
    max-width: 600px;
}

.modal-header, .modal-footer {
    padding: 5px;
    border-bottom: 1px solid #dee2e6;
}

/* Close button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FFFBEF;
    text-decoration: none;
    cursor: pointer;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
}

.rounded-social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-button {
    display: inline-block;
    font-size: 20px;
    color: #FFFBEF; /* Cream color for social buttons */
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s; /* Added color transition */
}

.social-button:hover {
    background-color: #A3B18A; /* Sage green for background on hover */
    color: #FFFBEF; /* Keep the icon color cream on hover */
}

.sidebar {
    padding: 20px; /* Add padding around the sidebar content */
    border: 2px solid #FFFBEF; /* Cream border */
    border-radius: 8px; /* Optional: add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow */
}