/* Import JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

/* General body styles */
body {
    font-family: 'JetBrains Mono', monospace; /* Normal text uses JetBrains Mono */
    margin: 0;
    padding: 0;
    background-color: #191919; 
    color: #FFFBEF;
    overflow: auto;
}

/* Headings use Helvetica */
h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace; /* Normal text uses JetBrains Mono */
    font-style: italic;
    color: #FFFBEF;
     margin: 0 auto;    /* Center the element */
    padding: 10px 0;   /* Apply controlled padding */
    text-align: right; /* Keep text aligned to the right */
    overflow: hidden;  /* Hide overflow */
}

/* Links */
a {
    color: #FFFBEF;
}

select:focus, select:active {
    color: #A3B18A; /* Sage green text color when the dropdown is focused or expanded */
}

a:hover {
    color: #A3B18A; /* Sage green for visited links */
}

.icon, .fa {
    color: #FFFBEF; /* Cream color for all icons */
}

/* Header */
#pistaHeader {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;  /* Remove unnecessary padding */
    margin: 0;   /* Remove unnecessary margin */
    height: 300px;
    width: 100%;
    text-align: justify;
    overflow: hidden;
}

/* Card Styles */
/* Styles for the container holding the cards */
.row {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-between; /* Distribute space between items */
    margin: 0; /* Remove any negative margins that could cause overflow */
    padding: 0;
    width: 100%;
}

/* Styles for each card */

.card {
    flex: 0 0 calc(33.33% - 20px); /* Set each card to take up roughly one-third of the width minus margins */
    margin: 10px; /* Margin around cards */
    padding: 10px; /* Padding inside the card */
    display: flex; /* Keep display flex */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: transparent; /* Background color */
    border: 1px solid transparent; /* Border */
    overflow: hidden; /* Hide overflow */
}

.card3 {
    flex: 0 0 calc(33.33% - 20px); /* Set each card to take up roughly one-third of the width minus margins */
    margin: 0px; /* Margin around cards */
    padding: 0px; /* Padding inside the card */
    display: flex; /* Keep display flex */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: transparent; /* Background color */
    border: 1px solid transparent; /* Border */
    overflow: hidden; /* Hide overflow */
}

.card4 {
    flex: 0 0 calc(20%); /* Set each card to take up roughly one-third of the width minus margins */
    margin: 0px; /* Margin around cards */
    padding: 0px; /* Padding inside the card */
    display: flex; /* Keep display flex */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: transparent; /* Background color */
    /* border: 1px solid transparent; /* Border */
    overflow: hidden; /* Hide overflow */
}


/* Styles for the images in the cards */
.card img {
    width: 100%; /* Full width of the card */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Space above the image */
    object-fit: cover; /* Cover the area of the card */
}

.card3 img {
    width: auto; /* Full width of the card */
    max-height: 300px; /* Maintain aspect ratio */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin:0px;
    margin-top: 5px; /* Space above the image */
    
    /*object-fit: cover; /* Cover the area of the card */
}

.card4 img {
    width: auto; /* Full width of the card */
    max-height: 300px; /* Maintain aspect ratio */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin:0px;
    margin-top: 5px; /* Space above the image */
    
    /*object-fit: cover; /* Cover the area of the card */
}



/* Media queries for responsiveness */
@media (max-width: 768px) {
    .card,
    .card3,
    .card4 {
        flex: 0 0 calc(50% - 20px); /* Two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .card,
    .card3,
    .card4 {
        flex: 0 0 calc(100% - 20px); /* One card per row on very small screens */
    }
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    margin: 1% auto;
    max-width: 600px;
}

.modal-header, .modal-footer {
    font-family: 'JetBrains Mono', monospace; /* Normal text uses JetBrains Mono */
    padding: 5px;
    border-bottom: 1px solid #FFFBEF;
    background-color: #191919;
}

.modal-body {
    background-color: #191919;
}

/* Close button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #A3B18A;
}

.close:hover {
    color: #A3B18A; /* Sage green for visited links */
}


footer {
    text-align: center;
    padding: 10px; /* Reduced padding */
    margin: 20px 0; /* Added margin to create space above and below the footer */
}

.rounded-social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reduced gap between social buttons */
}

.social-button {
    width: 50px; /* Set a fixed width for circular shape */
    height: 50px; /* Set a fixed height for circular shape */
    display: flex; /* Change to flex for centering */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
    font-size: 20px;
    color: #FFFBEF; /* Cream color for social buttons */
    text-decoration: none;
    border-radius: 50%; /* Ensures circular shape */
    transition: background-color 0.3s, color 0.3s; /* Added color transition */
    background-color: transparent; /* Optional: Ensure initial background is transparent */
}

.social-button:hover {
    background-color: #A3B18A; /* Sage green for background on hover */
    color: #FFFBEF; /* Keep the icon color cream on hover */
}
.sidebar {
    border: 2px solid #A3B18A; /* Cream border */
    border-radius: 8px; /* Optional: add rounded corners */
    margin-top: 20px;
}

.sidebar {
    padding-left: 1px;
    margin-left: 1px;
    padding-top: 15px;
    padding-bottom: 1px;
}

.row {
    overflow: auto; /* Enables scrolling if content overflows */
    white-space: nowrap; /* Prevents wrapping of child elements */
}   

.form-container {
    max-width: 400px;          /* Limit the width of the form */
    margin: 20px auto;        /* Center the form horizontally with auto margins */
    padding: 20px;            /* Add padding inside the container */
    border: 1px solid #A3B18A;   /* Light gray border around the form */
    border-radius: 10px;      /* Rounded corners for the form */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    
}

.form-input, .form-textarea {      
    margin: 10px 0;            /* Space above and below each field */
    border: 2px solid #A3B18A;    /* Light gray border for input fields */
    border-radius: 8px; /* Optional: add rounded corners */
    font-size: 16px;   
    color: #FFFBEF; 
    padding: 20px 30px;             /* Optional: Padding inside input fields for better usability */
    background-color: #2a2a2a;
    width: calc(77% - 20px);             /* Full width minus borders and padding */
    height: 30px;     
    font-family: 'JetBrains Mono', monospace; 
}

.btn-submit {
    background-color: transparent; 
    color: #FFFBEF;                   /* Text color for the button */         
    border-radius: 8px;               /* Rounded corners */
    border: 2px solid #A3B18A;        /* Specify border width and style */
    font-size: 16px;                   /* Font size */
    cursor: pointer;                   /* Change cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    font-family: 'JetBrains Mono', monospace; 
    padding: 5px 15px;
}

.about-me-box {
    border: 2px solid #A3B18A; /* Sage green border */
    border-radius: 8px; /* Rounded corners */
    margin: 20px 20px; /* Space above and below the box */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Ensure words break and wrap correctly */
}

.about-me-box h6 {
    text-align: left; /* Align header to the left */
    color :#FFFBEF; /* Text color */
    font-size: 1.5em; /* Increase font size for the header */
    margin-bottom: 10px; /* Space below the header */
}

.about-me-box p {
    text-align: left; /* Align paragraph to the left */
    color: #FFFBEF; /* Text color */
    font-size: 1em; /* Normal font size for the paragraph */
    line-height: 1.5; /* Improve line spacing for readability */
    text-wrap: auto;
}

.pin-container {
    text-align: left;
    margin-top: -30px; /* Adjust this value to make the pin overlap slightly with the header */
    position: relative;
    padding-left: 10px; /* Move the pin 10px to the right */
    z-index: 10; /* Ensures the pin appears above the content */
}

.pin-icon {
    width: 60px; /* Adjust size of the pin */
    height: 60px;
    padding: 5px; /* Space around the icon */
    display: inline-block;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 4;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 16px;
}

.gallery-item img {
    width: 100%;
    border-radius: 14px;
}

@media screen and (max-width: 500px) {
    .gallery {
        column-count: 1;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .gallery {
        column-count: 3;
    }
}
